In [1]:
import sqlite3
import pandas as pd

# Il interprete mal les smileys
# Le modele est vraiment binaire (Detecte pas les nuances e.g. sarcasmes etc...)
# Si il y a des messages successifs d'un utilisateur, concatener les messages pour avoir le contexte

In [5]:
# Create your connection
DATABASE_FILE = "../data/database/discord.db"
connection = sqlite3.connect(DATABASE_FILE)

df = pd.read_sql_query("SELECT * FROM messages", connection)
df.sort_values(by=['date'], ascending=True).tail(5)

,msg_id,channel_id,user_id,msg,msg_type,label,score,date
2,1202978882429657088,1200499146977710254,yoel_turner,Ta gueule,text,haineux,0.967089,2024-02-02T14:08:35
1,1202979610917208065,1200499146977710254,yoel_turner,Wal le fils de pute la je nique sa mère moi l'...,text,haineux,0.988330,2024-02-02T14:11:29
0,1202981204639350854,1200499146977710254,yoel_turner,Wala le fils de pute la je nique sa mère moi l...,text,haineux,0.990562,2024-02-02T14:17:49
40,1202996291257499728,1200499146977710254,yoel_turner,Va chier enfoiré,text,haineux,0.796808,2024-02-02T15:17:46
41,1202996500523655199,1200499146977710254,yoel_turner,vas-y je t'emmerde enculé,vocal,haineux,0.957492,2024-02-02T15:18:36

In [3]:
df.sort_values(by=['date'], ascending=True).to_csv("../data/database/discord.tsv", sep="\t", index=False)

In [9]:
df = pd.read_sql_query("SELECT * FROM channels", connection)
df.tail(5)

            channel_id     name  num_users
0  1200499146977710254  general          1