In [1]:
import sqlite3
import pandas as pd

# Il interprete mal les smileys
# Le modele est vraiment binaire (Detecte pas les nuances e.g. sarcasmes etc...)

In [9]:
# Create your connection
DATABASE_FILE = "../data/database/discord.db"
connection = sqlite3.connect(DATABASE_FILE)

df = pd.read_sql_query("SELECT * FROM messages", connection)
df.sort_values(by=['date'], ascending=True).tail(5)

,msg_id,channel_id,user_id,msg,msg_type,label,score,date
1,1193211629035331664,1191764926793011233,yoel_turner,espèce d'enculé,audio,haineux,0.690973,2024-01-06T15:17:01
0,1193289331788496966,1191764926793011233,yoel_turner,est-ce que tu veux et tout il a dit,audio,non haineux,0.853759,2024-01-06T20:25:46
85,1196460559386820629,1191764926793011233,yoel_turner,Shalom\n Comment vas tu?,text,non haineux,0.993120,2024-01-15T14:27:06
86,1196460672150687815,1191764926793011233,yoel_turner,Yoyo\n\nTu vas bien?,text,non haineux,0.925125,2024-01-15T14:27:33
87,1196460903030325309,1191764926793011233,yoel_turner,yo-yo la famille comment tu vas moi je les emm...,audio,haineux,0.993804,2024-01-15T14:28:28

In [4]:
df.sort_values(by=['date'], ascending=True).to_csv("../data/database/discord.tsv", sep="\t", index=False)

In [5]:
df = pd.read_sql_query("SELECT * FROM channels", connection)
df.tail(5)

            channel_id     name  num_users
0  1191764926793011233  general          1