In [1]:
import sqlite3
import pandas as pd

# Il interprete mal les smileys
# Le modele est vraiment binaire (Detecte pas les nuances e.g. sarcasmes etc...)

In [22]:
# Create your connection
DATABASE_FILE = "../data/database/discord.db"
connection = sqlite3.connect(DATABASE_FILE)

df = pd.read_sql_query("SELECT * FROM messages", connection)
df.tail(5).sort_values(by=['date'])

,msg_id,channel_id,user_id,msg,label,score,date
46,1193125923927642112,1191764926793011233,yoel_turner,"Ah t'es hyper cool toi, t'es mon meilleur ami",non-hateful,0.708033,2024-01-06T09:36:27
47,1193126067012120607,1191764926793011233,yoel_turner,"Ah t'es hyper cool toi, t'es mon meilleur ami ðŸ˜„",non-hateful,0.758525,2024-01-06T09:37:01
48,1193126194065965117,1191764926793011233,yoel_turner,"Ah t'es hyper cool toi, t'es mon meilleur ami ...",hateful,0.976358,2024-01-06T09:37:31
49,1193127258135724032,1191764926793011233,yoel_turner,EspÃ¨ce de gentil,non-hateful,0.613917,2024-01-06T09:41:45
50,1193130077739819038,1191764926793011233,yoel_turner,ðŸ¤¬,non-hateful,0.998942,2024-01-06T09:52:57

In [5]:
df = pd.read_sql_query("SELECT * FROM channels", connection)
df.tail(5)

            channel_id     name  num_users
0  1191764926793011233  general          1