In [1]:
import sqlite3
import pandas as pd

In [4]:
# Create your connection
DATABASE_FILE = "../data/database/discord.db"
connection = sqlite3.connect(DATABASE_FILE)

df = pd.read_sql_query("SELECT * FROM messages", connection)
df.tail(5).sort_values(by=['date'])

,msg_id,channel_id,user_id,msg,label,score,date
25,1192158031958519839,1191764926793011233,yoel_turner,va te faire foutre,hateful,0.943021,2024-01-03T17:30:24
26,1192170456090943618,1191764926793011233,yoel_turner,Yo mec,non-hateful,0.973044,2024-01-03T18:19:46
27,1192170489918017536,1191764926793011233,yoel_turner,C'est quand que tu viens chez moi?,non-hateful,0.918370,2024-01-03T18:19:54
28,1192170557500837958,1191764926793011233,yoel_turner,Je te jure que si tu m'enerves je vais te tuer,non-hateful,0.813966,2024-01-03T18:20:10
29,1192170574840082492,1191764926793011233,yoel_turner,Espece d'enfoirer,hateful,0.988475,2024-01-03T18:20:14

In [5]:
df = pd.read_sql_query("SELECT * FROM channels", connection)
df.tail(5)

            channel_id     name  num_users
0  1191764926793011233  general          1